<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--Xem huong dan o day https://getbootstrap.com/docs/5.0/getting-started/introduction/-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <!--Tim icon o day: https://fontawesome.com/v5.15/icons-->

</head>

<body>

    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <p th:if="${successMsg}" th:text="${successMsg}" class="alert alert-success"></p>
                <p th:if="${ex}" th:text="${ex}" class="alert alert-warning"></p>
                <p><a th:href="@{/}">Home</a></p>
                <p><a href="/add" class="btn btn-primary"><i class="fas fa-user-plus"></i>Add employee</a>
                </p>
                <!-- <form th:action="@{/search}" method="post" class="form-inline">
                    <input type="text" placeholder="Search Name" th:field="${request.keyword}" style="width: 200px;">
                    <button type="submit" class="btn btn-primary" id="btn-search" style="width: 120px;">Search Name</button>
                </form> -->
                <form th:action="@{/age}">
                    <label class="title">Name</label><br>
                    <input type="text" placeholder="Search Name" th:field="${request.keyword}" style="width: 200px;">
                    <br><label class="title">Age</label>
                    <div><input name="age[min]" type="number" placeholder="min" max="100" th:field="${request.a}" maxlength="2"
                            style="width: 95px;"><b>-</b>
                        <input name="age[max]" type="number" placeholder="max" max="100" th:field="${request.b}" maxlength="2"
                            style="width: 95px;">
                        <br><br><button type="submit" class="btn btn-primary" id="btn-search" style="width: 120px;">Search</button>
                    </div>          
                </form>
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Avata</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Salary</th>
                            <th>Age</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="employee : ${employees}" th:object="${employee}">
                            <td> <img th:src="${employee.getImage}" style="width: 100px; height: 100px" /></td>
                            <td><span th:text="*{firstName}"></span> <span th:text="*{lastName}"></span> </td>
                            <td th:text="*{email}"></td>
                            <td th:text="*{gender}"></td>
                            <td th:text="*{address}"></td>
                            <td th:text="${employee.salary}"></td>
                            <td th:text="${employee.getAge}"></td>
                            <td><a th:href="@{/edit/{id}(id=*{id})}" class="btn"><i class="fas fa-user-edit"></i></a>
                            </td>
                            <td><a th:href="@{/delete/{id}(id=*{id})}" class="btn"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>