<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
</head>
<body>
  <div layout:fragment="content" >
<form action="#" th:action="@{/employee/delete}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}">
    <h1 th:text="'Full Name: '+ ${employee.firstName} +' '+ ${employee.lastName}"></h1>
    <p th:text="'EmailId: ' + ${employee.emailId}"></p>
    <p th:text="'Passport Number: ' + ${employee.passportNumber}"></p>
    <button><a th:href="@{/employee/edit/{id}(id=${employee.id})}"> Sửa</a></button>
    
    <button type="submit">Xóa</button>
</form>
</div>
</body>
</html>
